<li>
  <article class="snippet">
    <img
      src="{{ post.data.image }}"
      alt="{{ post.data.imageAlt }}"
      class="snippet__image"
    />
    <h3 class="snippet__title text-gradient">
      <a href="{{ post.url }}">{{ post.data.title }} </a>
      {% include 'comment-number.njk' %}
    </h3>

    <p class="snippet__meta">
      by <span>{{ post.data.author }} on&nbsp;</span>
      <span>{{ post.data.date | postDate }}&nbsp;</span>
    </p>
    <div class="read">
      <span
        ><strong>{{ post.data.read }} read&nbsp;</strong></span
      >
      <i class="far fa-clock"></i>
    </div>
    <p class="snippet__body">{{ post.data.description }}</p>
    <a href="{{ post.url }}" class="btn btn--primary"
      >Continue Reading <span><i class="fas fa-arrow-right"></i></span
    ></a>
  </article>
</li>
