<li>
  <article class="snippet">
    <a class="snippet__image" href="{{ post.url }}">
      <img
        href="{{ post.url }}"
        src="{{ post.data.image }}"
        alt="{{ post.data.imageAlt }}"
      />
    </a>
    <div>
      <h3 class="snippet__title text-gradient article-special-case">
        <a href="{{ post.url }}">{{ post.data.title }} </a>
      </h3>

      <p class="snippet__meta">
        By <span>{{ post.data.author }} on</span>
        <span>{{ post.data.date | postDate }}&nbsp;</span>
      </p>

      <div class="read inline-block">
        <span
          ><strong>{{ post.data.read }} read&nbsp;</strong></span
        >
        <i class="far fa-clock"></i>
      </div>

      <div class>
        <i class="fa fa-comments inline-block"></i>&nbsp;
        <div class="comments">
          <span>
            <a href="{{ post.url }}#disqus_thread"></a>
          </span>
        </div>
      </div>
    </div>

    <p class="snippet__body">{{ post.data.description }}</p>
    <a href="{{ post.url }}" class="btn btn--primary"
      >Continue Reading <span><i class="fas fa-arrow-right"></i></span
    ></a>
  </article>
</li>
