<a href="{{ defaultURL | url }}" class="white-text"
  ><i class="fa fa-comments pr-1"></i>

  {# little tricks to allow disqus count to work locally #}
  <object>
    <a
      href="{{ site.rootUrl + defaultURL | url }}#disqus_thread"
      class="white-text"
      >0</a
    >
  </object>
</a>
