<footer class="site-footer">
  <div class="footer-container">
    <p>© 2021 Ayo Adesanya. All rights reserved.</p>
    <form action="https://www.isitagoodinvestment.com/" class="subscribe">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder=" Get notified of new blogs!"
        />
        <button class="btn btn--primary">Submit</button>
      </div>
    </form>
  </div>
</footer>
