<footer class="site-footer">
  <div class="footer-container">
    <p>© 2021 Ayo Adesanya</p>

    <form name="contact-blog" method="POST" data-netlify="true">
      <label
        ><input type="email" name="email" placeholder="Get blog notifications!"
      /></label>

      <button class="btn btn--primary" type="submit">Send</button>
    </form>
  </div>
</footer>
