<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <div class="logo text-gradient">Ayo Codes</div>
      </div>
      <nav>
        <ul role="list" class="nav-list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blogs/">Recent</a>
          </li>
          <li>
            <a href="/all-posts/">All Posts</a>
          </li>
          <li>
            <a href="/tags/">Tags</a>
          </li>
          <li>
            <a href="http://www.ayoadesanya.com" rel="noopener" target="_blank"
              >Portfolio</a
            >
          </li>
          <li>
            <a href="mailto:ayo@ayoadesanya.com" target="_blank" rel="noopener"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <div class="stats-container">
        <div class="sc-main">
          <span>Journey To My First Coding Job</span>
          <span
            ><img class="bomb" src="https://i.imgur.com/wMaXUxa.png" alt="bomb"
          /></span>
        </div>
        <div class="total-studied-hours">
          <span class="sc-title">Total Studied Hours</span
          ><span class="sc-num">764.35 hrs</span>
        </div>
        <div class="total-active-days">
          <span class="sc-title">Total Active Days</span
          ><span class="sc-num">195 days</span>
        </div>
        <div class="average-hours">
          <span class="sc-title">Average Daily Study Time</span
          ><span class="sc-num">3.9 hrs</span>
        </div>
      </div>
    </div>
  </div>
</header>
