<section class="recent-links-container">
  <div>
    <h2 class="snippet__title text-gradient">
      <a class="text-gradient" href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
  </div>
</section>
