:root {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700;1,800&display=swap");

  font-family: "Poppins", sans-serif;

  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Poppins", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);

  --clr-black: black;
  --clr-purple: #302b63;
}

@media (min-width: 35rem) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none !important;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;

  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: bounce 5s infinite ease-in-out;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: "Poppins", sans-serif;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

.hero-buttons {
  display: grid;
  gap: 1rem;
}

.footer-container input {
  padding: 10px;
}

section,
.section {
  padding: 2rem 1rem;
}

.hero {
  padding: 0rem 1rem;
}

.snippet__title {
  margin-top: 2rem;
}

.comments {
  display: inline-block !important;
  color: var(--clr-purple);

  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  font-size: 0.8rem;
  line-height: 0.7rem;

  text-decoration: none !important;
}

.article-special-case {
  display: inline-block !important;

  i {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
}

/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.text-gradient {
  background-image: linear-gradient(to right, #2f3e24, #302b63, #0f0c29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1.5rem);
}

.container {
  margin-inline: auto;
  padding: 0rem 1.5rem;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap, 1rem);
}

.text-center {
  text-align: center;
}

/* typgraphy */

.article-title,
.section-title {
  color: var(--clr-primary-500);
}

.article-title {
  font-size: var(--fs-700);
  padding: 1rem 0rem;
}

.section-title {
  font-size: 2rem;
  padding: 1rem 0rem;
}

/* //////////////////////
  Header
  /////////////////////// */

.logo {
  font-weight: bold;
}
.page-header {
  padding: 2rem 0;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav-list a {
  color: var(--clr-neutral-900);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--clr-purple);
  text-decoration: underline;
  border-bottom: 2px solid #302b63;
}

//? all post page

.snippet-all-posts {
  margin-top: 1rem;
  padding: 1rem;
  border-bottom: 2px solid;
  border-color: var(--clr-purple);
}

.inline-block {
  display: inline-block;
}

/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  --logo-color: currentColor;
  padding: 2rem 0;
  color: var(--clr-neutral-100);
  background-color: var(--clr-purple);
  text-align: center;
  margin-top: 2rem;
}

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.hero__image {
  width: 100%;
  border-radius: 2rem;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
  animation: bounce 3s infinite ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.featured-articles {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #f3f2f8,
    #f0eff9,
    #f3f2f8,
    #ffffff,
    #ffffff
  );

  .fa-text {
    margin-bottom: 5rem;
  }
}

.bg-gradient {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #f3f2f8,
    #f0eff9,
    #f3f2f8,
    #ffffff,
    #ffffff
  );
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 1rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;

  input {
    margin-top: 1rem;
    border-radius: 2rem;
    width: 60%;
    height: 2.5rem;
    font-size: 1rem;
  }
}

/* //////////////////////
  Individual article page
  /////////////////////// */

.main-article {
  margin-bottom: 3rem;

  p {
    line-height: 2.1;
  }
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: 0.9;
}

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 0.25rem;
  grid-template-areas:
    "image"
    "title"
    "read"
    "meta"
    "body"
    "button";
}

.read {
  grid-area: read;
}

.blog-title {
  margin-bottom: 3rem;
}

.recent-links {
  display: grid;
  grid-template-columns: 1fr;

  margin: 0rem 0rem 3rem 0rem;

  a {
    font-size: 1rem;
  }

  .snippet__title {
    margin-top: 0.5rem;
  }

  .recent-links-container {
    padding: 0rem;
  }
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--clr-neutral-300);
}

.snippet__meta span {
  color: var(--clr-neutral-900);
}
.snippet__body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--clr-neutral-900);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--clr-purple);
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.55rem 1rem;
  border-radius: 2rem;
  align-self: start;
  justify-self: start;

  i {
    background-color: #302b63;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 3rem;
    color: var(--clr-neutral-100);
  }
}

.btn:focus {
  outline: 0.125rem solid var(--clr-purple);
  outline-offset: 0.25rem;
}

.btn--primary {
  background: var(--clr-neutral-100);
  color: var(--clr-black);
  font-weight: var(--fw-700);
  border: 2px solid;
  border-color: var(--clr-purple);
}

.btn--primary:hover,
.btn--primary:focus {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  border-color: var(--clr-purple);
  color: var(--clr-neutral-100);
}

.btn--primary-2 {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  border: 2px solid;
  border-color: var(--clr-purple);
}

.btn--primary-2:hover,
.btn--primary-2:focus {
  background: var(--clr-neutral-100);
  border-color: var(--clr-purple);
  color: var(--clr-black);
}

.btn--neutral {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-weight: var(--fw-700);
  border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background: var(--clr-black);
}

.pagination-buttons {
  margin-top: 2rem;
}

.btn-footer {
  font-size: 1.1rem;
}

@media (min-width: 500px) {
  .hero {
    padding: 2rem 1rem;
  }
}

@media (max-width: 460px) {
  .page-header__content {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;

    div {
      text-align: center;
    }

    nav {
      margin-top: 0.5rem;
    }
  }
}

@media (min-width: 719px) {
  .hero__image {
    width: 100%;

    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: left;
  }
  .snippet__image {
    grid-area: image;
    width: 100%;
    height: 70%;
    aspect-ratio: 3/4;
    object-fit: cover;
    margin-top: 4rem;
  }

  footer {
    margin-top: 2rem;
  }
}

@media (min-width: 785px) {
  .hero__image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
  }
}

@media (min-width: 861px) {
  .hero__image {
    width: 100%;

    aspect-ratio: 8/4;
    object-fit: cover;
  }
}

@media (min-width: 897px) {
  .snippet__image {
    grid-area: image;
    width: 100%;

    aspect-ratio: 3/4;
    object-fit: cover;
  }

  .snippet {
    grid-template-areas:
      "title ."
      "meta image"
      "read image"
      "body image"
      "button .";
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content min-content 1fr;

    img {
      margin-top: 3rem;
    }
  }
}

@media (min-width: 45rem) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "read image"
      "body image"
      "button image";
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content min-content 1fr;

    height: 25rem;
  }

  .hero > div {
    grid-auto-flow: column;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    input {
      margin-top: 1rem;
      border-radius: 2rem;
      width: 30%;
      height: 2.5rem;
      font-size: 1.2rem !important;
    }
  }
}
